Django==5.2.12
djangorestframework==3.15.2
drf-spectacular==0.27.0
Pillow==10.2.0
django-cors-headers==4.3.1
python-dotenv==1.0.1
gunicorn==22.0.0
psycopg2-binary==2.9.9
whitenoise[brotli]==6.7.0
dj-database-url==2.2.0
cloudinary==1.38.0
django-cloudinary-storage==0.3.0
